.project-selection {
    background: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    @include _1200{
        flex-direction: column;
    }

    &__block {
        background: #fff;
        position: relative;
        flex-grow: 1;
        border-right: 1px solid #e5e5e5;
        max-width: 350px;
        &_select{
            max-width: 450px;
        }
        @include _1200{
            max-width: none;
            width: 90%;
            border: none;
            padding-bottom: 24px;
        }
    }

    &__input {
        border: none;
        font-size: 24px;
        line-height: 125%;
        color: #1B201E;
        margin: 0 0 0 32px;
    }

    &__label {
        margin: 16px 0 6px 32px;
        display: block;
        position: relative;
        z-index: 1;
        font-size: 16px;
        line-height: 125%;
        color: #1B201E;
        opacity: 0.7;
    }

    &__select {
        border-radius: 0;
        outline: none;
        background-color: #fff;
        font-size: 24px;
        border: none;
        width: 100%;
        padding: 0 76px 20px 32px;
    }
}