extends layout
block head
    link(rel="stylesheet", href="/assets/styleAdmin.css")
block content
    .card.text-center
        .card-header
            ul.nav.nav-pills.card-header-pills
                li.nav-item
                    a.nav-link.news-CRUD-button.active(href='/adminPage') Новости
                li.nav-item
                    a.nav-link.shares-CRUD-button(href='/sharesCRUD') Акции
        .card-body.mx-auto.w-100
            .card-body-news-CRUD
                a(href="/NewsCRUD/addNews").btn.btn-success.float-left.mb-3 Добавить
                table.table
                    thead
                        tr
                        th(scope='col') id
                        th(scope='col') Дата
                        th(scope='col') Загаловок 
                        th(scope='col') Действия
                    tbody
                        each val in baseNews
                            tr.card-body-news-CRUD__row
                                th #{val.id}
                                td #{val.date.toLocaleDateString()}
                                td.w-50 #{val.title}
                                td.w-25
                                    form.button-form 
                                        button.btn.btn-danger.mr-1.mb-1.delete-entity-button(type='button' name="deleteEntity" data-url-entity='/NewsCRUD/deleteNews' data-id-entity=val.id ) Удалить
                                        button.btn.btn-warning(type='button' name="updateEntity" data-url-entity='/NewsCRUD/updateNews' data-id-entity= val.id) Редактировать
                        
                        

       

block footer
    script(src="/assets/vendor.js")
    script(src="/assets/admin.js")
    