section.advantages.mb-10.pt-10.pb-10
    .wrap
        h2.mb-10 Наши преимущества
        .advantages__blocks
            .advantages__block
                h3.advantages__title.mb-3 Делаем еженедельный фото-отчёт
                p.advantages__description Каждую неделю Вы будете получать полный отчёт о ходе строительства,а также свежие фотографии с места стройки

            .advantages__block
                h3.advantages__title.mb-3 Прозрачные условия договора
                p.advantages__description Предоставление финансового плана строительства и графика производства работ 
                
            .advantages__block
                h3.advantages__title.mb-3 Используем только качественные материалы
                p.advantages__description Мы официальные дистрибьютеры лидеров производства строительных материалов для кровли, фасадов, утепления
                
            .advantages__block
                h3.advantages__title.mb-3 Съемка процесса строительства
                p.advantages__description Если Вам интересно сдедить за стройкой в режиме онлайн, то мы специально для Вас подключим видеонаблюдение
                
            .advantages__block
                h3.advantages__title.mb-3 Прозрачные условия договора
                p.advantages__description Предоставление финансового плана строительства и графика производства работ
                
            .advantages__block
                h3.advantages__title.mb-3 Даем гарантию 10 лет
                p.advantages__description Свою работу мы выполняем качественно, поэтому не боимся сказать: «Никаких проблем в ближайшие 10 лет»
                
