section.completed-orders.slider
    .completed-orders__header.wrap.mb-6
      h2.h2 Построенные дома
      a(href="#").button.button_invisible Все объекты

    .completed-orders__slider.wrap
        .project-hero__slider-built.mr-6.w-100
          .project-hero__slider.swiper-container
            .swiper-wrapper
              .project-hero__slide.slider__slide
                img(src="./images/completed-orders1.png", alt="").project-hero__slider-img.project-hero__slider-img_full.w-100

            .project-hero__slider-btn.project-hero__slider-btn_prev.slider__button_disabled
              img(src="./images/projects-slider-arrow-left.svg")
            .project-hero__slider-btn.project-hero__slider-btn_next
              img(src="./images/projects-slider-arrow-right.svg")
            .project-hero__slider-pagination.centering
        .completed-orders__info-block
          a(href="#").completed-orders__name Дом 368 м² в Краснодаре
          a(href="#").completed-orders__link Подробнее 
            img(src="./images/completed-orders_arrow.svg").completed-orders__image