section.development-steps.wrap
    .development-steps__wrap
        h3.development-steps__top-heading.pb-10 Приступаем через 5 дней!
        ul.development-steps__list
            li.development-steps__list-ellement-text.development-steps__list-ellement-text_after-line
                span.development-steps__list-ellement-number 1
                .step-period.ml-4
                    .step-period__header.pb-2
                        span Сегодня
                    .step-period__text
                        p Оставляете заявку и наши менеджеры уточняют удобное для Вас время прибытия специалистов на объект.

            li.development-steps__list-ellement-text.development-steps__list-ellement-text_after-line
                span.development-steps__list-ellement-number 2
                .step-period.ml-4
                    .step-period__header.pb-2
                        span Завтра
                    .step-period__text
                        p Наши специалисты выезжают к Вам на участок и собирают все требуемые данные: размеры, сведения о грунте, подъездные пути и многое другое.
            li.development-steps__list-ellement-text.development-steps__list-ellement-text_after-line
                span.development-steps__list-ellement-number 3
                .step-period.ml-4
                    .step-period__header.pb-2
                        span На 3-й день
                    .step-period__text
                        p Встречаемся в офисе и обсуждаем все Ваши пожелания – от расположения входа в дом до расстановки мебели.
            li.development-steps__list-ellement-text.development-steps__list-ellement-text_after-line
                span.development-steps__list-ellement-number 4
                .step-period.ml-4
                    .step-period__header.pb-2
                        span На 4-й день
                    .step-period__text
                        p Считаем подробную смету и составляем предварительный график строительства.
            li.development-steps__list-ellement-text
                span.development-steps__list-ellement-number.mr-4 5
                .step-period
                    .step-period__header.pb-2
                        span На 5-й день
                    .step-period__text
                        p Встречаемся, обсуждаем нюансы и подписываем договор.Приступаем к долгожданному строительству!
    .development-steps__img
        img(src="./images/steps_img.png", alt="").development-steps__img_full
        img(src="./images/steps_img_mini.png", alt="").development-steps__img_mini