footer
  .block-collback-user.pt-10.pb-11
    .wrap
      h2.block-collback-user__questions.mb-4 Остались вопросы?
      p.block-collback-user__leave-request.mb-4 Просто оставьте заявку и мы позвоним Вам, чтобы ответить на все вопросы
      .contacts-user.mb-3
        input(type="text" placeholder='Имя').input.mr-2
        input(type="tel" placeholder='Телефон').input.mr-3
        input(type="button", value="Отправить").button.button_primary
      p.block-collback-user__politica Нажимая на кнопку «Отправить», я принимаю условия 
          a(href="#") политики обработки персональных данных


  .collback-company
    .wrap.pt-11
      .collback-company__main-info
        nav.footer-bar
          ul.footer-bar__list
            li.mr-10 
              a(href="#").footer-bar__list-link Проекты
            li.mr-10
              a(href="#").footer-bar__list-link Услуги
            li.mr-10
              a(href="#").footer-bar__list-link Дома
            li.mr-10
              a(href="#").footer-bar__list-link Новости
            li.mr-10
              a(href="#").footer-bar__list-link Контакты

        .bar-contacts
          .bar-contacts__block.contacts-block
            p.bar-contacts__name Звонок со всех регионов
            a(href="tel:89286003320").bar-contacts__info 8 (928) 600-33-20
          .bar-contacts__block.contacts-block
            p.bar-contacts__name E-mail
            p.bar-contacts__info zakaz@rich-dom.ru
          .bar-contacts__block.contacts-block
            p.bar-contacts__name чат с нами
            .blocks-info-mini
              p.blocks-info-mini__block WhatsApp
              p.blocks-info-mini__block Вконтакте
              p.blocks-info-mini__block Telegram
          .bar-contacts__block.bar-contacts__social-networks
            ul.bar-contacts__list
              li.mr-2
                a(href="#")
                  img(src="./images/youtube-icon.svg", alt="")
              li.mr-2
                a(href="#")
                  img(src="./images/insta-icon.svg", alt="")
              li.mr-2
                a(href="#")
                  img(src="./images/vk-icon.svg", alt="")
              li
                a(href="#")
                  img(src="./images/faceebook-icon.svg", alt="")


      hr.mt-6.bar-contacts__separating-line

      
      .footer-terms-of-use.pt-3
        p.footer-terms-of-use__info  Любая информация и материалы, представленные на данном сайте, носит исключительно информационный характер.#[br]Копирование материалов с сайта преследуется по закону. Отправляя свои данные через формы данного сайта,#[br]вы соглашаетесь с 
         a(href="#").footer-terms-of-use__linck Политикой в отношении обработки персональных данных
        .footer-terms-of-use__creator-by
          p Разработка сайта
          img(src="./images/Logo-razrab.svg").ml-1  