extends layout
block head
  link(rel='stylesheet', href='./assets/style.css')

block content
    include header-nav.pug
    .wrap.pt-12
        h2.h2.maxw-908.mb-8 Строительство пристройки и работы по установке септика и водоснабжения в коттеджном поселке 
        hr.line.mb-6
        p.text-news-or-shares.maxw-735 Иногда новость начинают одним фактом, далее сообщают менее значимые обстоятельства и снова возвращаются к начальному факту. Такая композиция встречается крайне редко и приемлема для мягких новостей и заметок. Другой вариант кольцевой структуры – подача главных фактов в начале и конце текста. При этом важно, чтобы аргументы были одинаково значимы. Такая композиция наиболее характерна для аналитических заметок, где сначала констатируется какой-либо факт (новость), а затем следуют размышления и аргументы автора.
    include footer-block.pug